.vscode/
.idea/
venv/
__pycache__/
*.pyc

# dbt
dbt_packages/
logs/
target/
dbtproject/profiles.yml

# Snowflake
.snowflake/
auth_key.p8

# Env
.env*
!/.env.example
dbtproject/logs/

# Project files
RUNBOOK.md
script_uvicorn.txt

# Power BI (WIP - keep out of git until dashboard is finalized)
power_bi/
*.pbix
*.pbit
